.cm-s-Gaduka {
	background: #495057;
	color: #F8F8F2;
}
.cm-s-Gaduka .CodeMirror-activeline-background {
	background: #3E3D32;
}
.cm-s-Gaduka .CodeMirror-selected {
	background: #49483E;
}
.cm-s-Gaduka .cm-comment {
	color: #BDBCB9;
}
.cm-s-Gaduka .cm-string {
	color: #91CC5E;
}
.cm-s-Gaduka .cm-number {
	color: #49A7BF;
}
.cm-s-Gaduka .cm-atom {
	color: #EBEBEB;
}
.cm-s-Gaduka .cm-keyword {
	color: #F5CF54;
}
.cm-s-Gaduka .cm-variable {
	color: #A6E22E;
}
.cm-s-Gaduka .cm-def {
	font-style: italic;
	color: #FFD29C;
}
.cm-s-Gaduka .cm-property {
	color: #C9EBAE;
}
